body{
margin:0;
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
}

/* MENU */
.menu-btn{
position:fixed;
top:15px;
left:15px;
font-size:25px;
cursor:pointer;
z-index:1000;
}

.sidebar{
position:fixed;
left:-220px;
top:0;
width:200px;
height:100%;
background:#1e293b;
padding:20px;
transition:0.3s;
}

.sidebar.active{
left:0;
}

.sidebar h2{
margin-bottom:20px;
}

.sidebar a{
display:block;
padding:10px;
margin:5px 0;
background:#0f172a;
border-radius:6px;
cursor:pointer;
transition:0.2s;
}

.sidebar a:hover{
background:#334155;
}

/* CONTEÚDO */
.main{
padding:20px;
margin-left:0;
transition:0.3s;
}

.section{
display:none;
animation:fade 0.5s;
}

.section.active{
display:block;
}

@keyframes fade{
from{opacity:0; transform:translateY(10px);}
to{opacity:1;}
}

/* PLANOS */
.plan{
display:flex;
justify-content:space-between;
padding:12px;
margin:8px 0;
background:#1e293b;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

.plan:hover{
background:#334155;
transform:scale(1.02);
}

.price{
color:#38bdf8;
font-weight:bold;
}

/* BOTÕES */
button{
padding:12px;
width:100%;
border:none;
border-radius:8px;
background:#22c55e;
color:white;
font-weight:bold;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

button:hover{
background:#16a34a;
}